templates/template-sap2propel-asset-management-sync/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routerFlow" doc:id="8f89c330-860c-4b95-b1ed-656cba71d5ce" >
		<scheduler doc:name="Scheduler" doc:id="6b645dee-cb2e-4e0d-8492-cebb5109b328" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="START:Logger" doc:id="1765c05f-77d3-40ba-a2dc-c2d8e64a885a" message='#["Asset Management Sync to Propel Started"]' />
		<flow-ref doc:name="Flow Reference:asset-sync-to-propel-implementationFlow" doc:id="c4d0ef50-6ce7-403e-bed7-4279760bdb52" name="asset-sync-to-propel-implementationFlow" />
		<ee:transform doc:name="Build Response" doc:id="088fb526-428b-4e49-9e60-401d8d9dc493" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END:Logger" doc:id="2dbaa16e-951e-4e05-b8b9-0844aaeb1f12" message='"Asset Management Sync to Propel Completed"' />
	</flow>
</mule>
