templates/template-propel2sap-change-release-sync/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:propel="http://www.mulesoft.org/schema/mule/propel" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/propel http://www.mulesoft.org/schema/mule/propel/current/mule-propel.xsd">
	<flow name="change-release-implementation-flow" doc:id="114f46cc-8702-4a2d-9ef9-643d94ea5273" >
		<propel:get-change doc:name="Get Change" doc:id="e4e3ba1c-167a-4dfc-ba9e-7d071da05d32" config-ref="Propel_Config" namespaceUriParam="PLDM" itemNumberUriParam="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="da9797a6-ec98-4632-b47e-624ebba55185" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="vendor-sync-to-sap-implementationFlow" doc:id="7b4c6afa-5529-4476-be1f-962e1b08cb75" >
		<salesforce:query doc:name="Query" doc:id="c0d8b9aa-05e1-4b2f-857c-ddb19061c105" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
	</flow>
	<flow name="vendor-sync-to-propel-implementationFlow" doc:id="29c29f8f-e61d-45bb-810a-32689fbba9f7" >
		<logger level="INFO" doc:name="START:Logger" doc:id="7a262a02-8d65-48bb-bb4d-a43e6fef8deb" message="Start - #[flow.name]"/>
		<sap:retrieve-idoc doc:name="Retrieve IDoc" doc:id="fb9b7116-bc4a-4059-bbf9-dc2b99072ca4" key="#[payload]" config-ref="SAP_Config"/>
		<logger level="INFO" doc:name="END:Logger" doc:id="b3d6d911-4f51-4242-9f4b-63875ac2e06c" message="End - #[flow.name]" />
	</flow>
</mule>
